# 함수

사용자 정의 함수를 만들어서 각 데이터에 적용 가능

- apply()

In [19]:
import pandas as pd

df = pd.read_csv('score.csv', encoding='utf-8-sig', index_col = '지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회         SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85       Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80          NaN
5번    강백호  북산고  188   15   20   10  35  10          NaN
6번    변덕규  능남고  202   80  100   95  85  80            C
7번    황태산  능남고  188   55   65   45  40  35       PYTHON
8번    윤대협  능남고  190  100   85   90  95  95           C#

In [2]:
df['학교'] + '등학교'

지원번호
1번    북산고등학교
2번    북산고등학교
3번    북산고등학교
4번    북산고등학교
5번    북산고등학교
6번    능남고등학교
7번    능남고등학교
8번    능남고등학교
Name: 학교, dtype: object

In [14]:
str(df.loc['1번','키']) + 'cm'

'197cm'

In [12]:
def add_cm(height):
    return str(height) + 'cm'

In [16]:
df['키'] = df['키'].apply(add_cm)

In [23]:
df['키'] = df['키'].astype(str) + 'cm'

In [27]:
df['키'] = df['키'].str.replace('cm','').astype(int)

In [29]:
df['키']

지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
8번    190
Name: 키, dtype: int32

In [31]:
df['SW특기'] = df['SW특기'].str.capitalize()

In [38]:
pd.notnull(df.loc['1번','SW특기'])
pd.isnull(df.loc['1번','SW특기'])

False

In [39]:
df['실적'] = ['프로그램개발','app개발','대회수상', None, None, None, '수상', None]

In [44]:
def admissions(p):
    if pd.isnull(p):
        return '일반전형'
    
    if p.find('개발') != -1:
        return 'SW인재전형'
    elif p.find('수상') != -1:
        return 'SW특별전형'
    else:
        return '일반전형'

In [46]:
df['입학전형'] = df['실적'].apply(admissions)

In [47]:
df

       이름   학교    키   국어   영어   수학  과학  사회         SW특기      실적    입학전형
지원번호
1번    채치수  북산고  197   90   85  100  95  85       Python  프로그램개발  SW인재전형
2번    정대만  북산고  184   40   35   50  55  25        Java    app개발  SW인재전형
3번    송태섭  북산고  168   80   75   70  80  75  Javascript     대회수상  SW특별전형
4번    서태웅  북산고  187   40   60   70  75  80          NaN    None    일반전형
5번    강백호  북산고  188   15   20   10  35  10          NaN    None    일반전형
6번    변덕규  능남고  202   80  100   95  85  80            c    None    일반전형
7번    황태산  능남고  188   55   65   45  40  35       Python      수상  SW특별전형
8번    윤대협  능남고  190  100   85   90  95  95           C#    None    일반전형