# 철도 검색

ktx 사이트에서 철도 검색

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By

driver = webdriver.Chrome()

driver.get('https://www.letskorail.com/ebizprd/EbizPrdTicketpr21100W_pr21110.do')

driver.implicitly_wait(10)

In [5]:
start = driver.find_element(By.ID, 'start')
start.clear()
start.send_keys('부산')

In [6]:
arrive = driver.find_element(By.ID, 'get')
arrive.clear()
arrive.send_keys('서울')

In [7]:
search = driver.find_element(By.XPATH, '//*[@id="center"]/div[3]/p/a/img')
search.click()

In [ ]:
//*[@id="tableResult"]/tbody/tr[1]
//*[@id="tableResult"]/tbody/tr[2]

In [8]:
elem = driver.find_element(By.XPATH, '//*[@id="tableResult"]/tbody/tr[1]')
elem.text

'직통 KTX\n032 부산\n12:30 서울\n15:14 -\n59,800원\n(5% 적립)\n- - 02:44'

In [11]:
# //*[@id="tableResult"]/tbody/tr[10]

for i in range(1, 11):
    elem = driver.find_element(By.XPATH, '//*[@id="tableResult"]/tbody/tr['+str(i)+']')
    print(i, elem.text.replace('\n',''))

1 직통 KTX032 부산12:30 서울15:14 -59,800원(5% 적립)- - 02:44
2 직통 1216 부산12:42 서울18:19 - -28,600원- - 05:37
3 직통 KTX034 부산13:10 서울15:48 -59,800원(5% 적립)- - 02:38
4 직통 1008 부산13:23 서울18:08 - -42,600원- - 04:45
5 직통 KTX124 부산13:25 서울16:34 -48,800원(5% 적립)- 03:09
6 직통 KTX106 부산13:29 서울16:41 -53,900원(5% 적립)-03:12
7 직통 KTX090 부산13:30 서울16:07 -59,800원(5% 적립)- - 02:37
8 직통 1218 부산13:37 서울19:22 - -28,600원- - 05:45
9 직통 KTX036 부산14:00 서울16:45 -59,800원(5% 적립)- - 02:45
10 직통 KTX038 부산14:20 서울16:52 -59,800원(5% 적립)- - 02:32

In [ ]:
from selenium.webdriver.support.ui import Select

driver.find_element(By.ID, 's_month')
select = Select()
select.select_by_value('07')